@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: TTProstoSansBold;
        src: url("http://wattui.kortaben.work/fonts/TTProstoSansBold.woff2") format("woff2"),url("http://wattui.kortaben.work/fonts/font.4a42d1cc.woff") format("woff")
    }
    html {
        @apply antialiased;
        font-family: museo-sans,Montserrat,Arial,sans-serif;
        /*font-size: 18px;*/
        color:#292929;
    }

    h1,h2,h3,h4,h5,h6  {

        font-family: TTProstoSansBold,Montserrat,Arial,sans-serif;
    }

    .text-overlay-box:hover>*{
        display: block;
    }
    .contact-plug{
        background-image: url("http://wattui.kortaben.work/images/watt_road.png");
    }
}
